---
layout: default
---


<!-- posts -->
<section class="section" style="padding-top: 10px; padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto px-0">
        <div class="bg-white shadow block">
          <h2>Articles by categories</h2>
          <hr>
          {% for tag in site.tags %}
            <div class="archive-group">
               {% capture tag_name %}{{ tag | first }}{% endcapture %}
            <div id="#{{ tag_name | slugify }}"></div>
            <p></p>

            <h3 class="tag-head" style="color: #2cae83;">
              <a class="post-title" href="{{ 'tag/' | relative_url }}{{ tag_name | slugify }}">{{ tag_name }}</a>
            </h3>

            {% for post in site.tags[tag_name] %}
            <article class="archive-item">
              <div class="row">
                <div class="col-8">
                  <a href="{{ site.baseurl }}{{ post.url }}" style="color: grey; font-style: italic;">{{post.title}}</a>
                </div>
                <div class="col-4">
                  <i>{{ post.date | date: '%b %d, %Y' }}</i>
                </div>
              </div>
            </article>
            {% endfor %}
           </div>
           <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

